# Define your SQLAlchemy models here.
# All models must subclass fast_agent_stack.database.BaseModel.
#
# Example:
#   from sqlalchemy.orm import Mapped, mapped_column
#   from fast_agent_stack.database import BaseModel
#
#   class Post(BaseModel):
#       __tablename__ = "posts"
#       title: Mapped[str]
